  @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&family=Vina+Sans&display=swap');

body{
  width: 100%;
  height: 100vh;  
  background: #424242;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: auto;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
  }
  .headercarrito{
   width: 4rem;
   height: 100%;
   display: flex;
   justify-content: left;
   align-items: center;
  }
      ion-button.boton{
        height: 80%;
        width: 4.375rem;
        --background: black;
      }
      ion-icon .carro{
        height: 3.813rem;
        width:4.375rem;
      }
  .titulo {
    display: flex;
    width: 13.563rem;
    height: 80%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 10.625rem;;
    background: #021437;
  }
      .titulo-texto{
      text-align: center;
      color: #ffffff;
      font-family: "Rock Salt";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }

  .perfilFoto{
    background: none;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 4.375rem;
    height: 80%;
  }
 //-------------------------------------------------------------

 .unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}
 //-------------------------------------------------------------
 .tituloParaTi {
    font-family: "Rock Salt";
    font-size: 1.5rem; 
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: white;
    width: 100%;
  }
  .ViewParati {
    border-radius: 6.438rem;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    overflow-x: auto;
  }
  .Productosparati {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6.438rem;
    padding: 1% 0%;
    width: 180%;
    height: 100%;

  }
  .producto1 {
    background: none;
    width: 26%;
    height: 95%;
  }
  
 //----------------------------------------------------------------------- 
  .tituloProductoDelMes{
    font-family: "Rock Salt";
    font-size: 1.5rem; 
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: white;
    width: 100%;
  }

  .ProductodelMes{
    display: flex;
    height: 21%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
  }
        .imgpro{
        width: 60%;
        height: auto;

        }
        .precio{
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Rock Salt";
          color: rgb(87, 241, 87);

        }