<body>
  <header>
    <ion-button class="headermenuboton" shape="round" (click)="goHome()" >
      <ion-icon class="menu" name="menu"></ion-icon>
    </ion-button>
    <ion-button class="headercarritoboton" shape="round" (click)="goCarrito()">
      <ion-icon class="carro" name="cart"></ion-icon>
    </ion-button>
  </header>
  
  <ion-img class="fotoperfil" src="../../assets/usuario_foto.png" alt="Perfil foto"></ion-img>

  <section class="CalificacionUsuario">
    <ion-img class="estrella" src="../../assets/Estrella.png" alt="Estrella"></ion-img>
    <ion-img class="estrella" src="../../assets/Estrella.png" alt="Estrella"></ion-img>
    <ion-img class="estrella" src="../../assets/Estrella.png" alt="Estrella"></ion-img>
    <ion-img class="estrella" src="../../assets/Estrella.png" alt="Estrella"></ion-img>
  </section>
  <h2 class="TituloUltimasCompras">Ultimas Compras</h2>
  <section class="ViewUltimasCompras">
    <section class="UltimasCompras">
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo1.png"/>
          <ion-card-header>
            <ion-card-title>RTX 4060</ion-card-title>
            <ion-card-subtitle>$330 </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo2.png"/>
          <ion-card-header>
            <ion-card-title>MousePad</ion-card-title>
            <ion-card-subtitle>$30</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo3.png"/>
          <ion-card-header>
            <ion-card-title>Case White</ion-card-title>
            <ion-card-subtitle>$130</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo4.png"/>
          <ion-card-header>
            <ion-card-title>Mando PS5</ion-card-title>
            <ion-card-subtitle>$95</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo1.png"/>
          <ion-card-header>
            <ion-card-title>RTX 4060</ion-card-title>
            <ion-card-subtitle>$330 </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo2.png"/>
          <ion-card-header>
            <ion-card-title>MousePad</ion-card-title>
            <ion-card-subtitle>$30</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo3.png"/>
          <ion-card-header>
            <ion-card-title>Case White</ion-card-title>
            <ion-card-subtitle>$130</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
      <section class="Producto">
        <ion-card>
          <img alt="Articulo" src="../../assets/Articulo4.png"/>
          <ion-card-header>
            <ion-card-title>Mando PS5</ion-card-title>
            <ion-card-subtitle>$95</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </section>
    </section>
  </section>
</body>
