@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
    width: 100%;
    height: 100vh;  
    display: flex;
    background-image: url(../../assets/Fondocrak.jpg);
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    overflow-y: auto;
    }
//-------------------------------------------------------------------
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
   
  }
       ion-button.headermenuboton{
        width: 4.4rem;
        height: 80%;
        display: flex;
        justify-content: left;
        align-items: center;
         --background: black;
         
       }
       ion-icon .menu{
         height: 3.813rem;
         width:4.375rem;
            }
       ion-button.headercarritoboton{
        width: 4.4rem;
        height: 80%;
        display: flex;
        justify-content: left;
        align-items: center;
         --background: black;
         
       }
       ion-icon .carrito{
         height: 3.813rem;
         width:4.375rem;
         border: solid red 0.1rem;  
       }
//--------------------------------------------------------------
    .fotoperfil{
        width: 50%;
        height: 30%;

    }
    .CalificacionUsuario{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10%;
        
    }
    .estrella{
        width: 20%;
        height: 80%;
       
    }
//--------------------------------------------------------------------
.TituloUltimasCompras {
    font-family: "Rock Salt";
    font-size: 1.5rem; 
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: white;
    width: 100%;
  }

  .ViewUltimasCompras {
    border-radius: 1rem;
    width: 95%;
    height: 55%;
    background-color: #ffffff;
    overflow-y: auto;
   
  }
  .UltimasCompras{
    width:95%;
    height: 220%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    gap: 1.2rem;
  }
  .Producto{
    width: 47%;
    height: 25%;
  }
