<body>
  <div class="header">
    <div class="headermenu">
      <ion-button class="boton" shape="round" (click)="goHome()" >
        <ion-icon class="menu" name="menu"></ion-icon>
      </ion-button>
    </div>
      <ion-button class="boton" shape="round" (click)="goPerfil()" >
        <img src="../../assets/Perfi-Foto.png" alt="perfil">
      </ion-button>  
  </div>
  <ion-searchbar placeholder="Busca en tu lista de compras BB"></ion-searchbar>
  <h2 class="subtitulo">Lista De Compras</h2>
  <div class="viewListaCompras">
    <div class="listacompras">
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra1.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Hedset razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra2.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Mouse razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
        </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra-3.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Microfono razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra-4.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Camara razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra5.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Monitor AlienWare 360HZ</div>
        <div class="precio">$600</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra1.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Hedset razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra2.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Mouse razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra-3.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Microfono razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra-4.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Camara razer gamer</div>
        <div class="precio">$100</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>
      <div class="producto">
        <div class="productofoto">
          <img src="../../assets/Compra5.png" alt="Compra1">
        </div>
        <div class="etiqueta">
        <div class="productonom">Monitor AlienWare 360HZ</div>
        <div class="precio">$600</div>
        <div class="fecha">Agregado Hoy</div>
      </div>
      </div>  
    </div>
  </div>
  
</body>
