<body>
  <div class="titulo">
    <h2 class="titulo-texto">Pol Shop</h2>
  </div>
  <button class="perfil">
    <img class="perfil-pic"src="../../assets/usuario_foto.png" alt="usuario foto">
  </button>
  <div class="usuario-nombre">
    <h2 class="nombre">Paulito Dior</h2>
  </div>
  <h2 class="tituloParaTi">Productos Para Ti</h2>
  <div class="ProductosParaTi">

      <div class="ViewParati">
            <div class="producto1">
              <img src="../../assets/Producto1.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
            <div class="producto1">
              <img src="../../assets/Producto2.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
            <div class="producto1">
              <img src="../../assets/Producto3.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
            <div class="producto1">
              <img src="../../assets/Producto1.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
            <div class="producto1">
              <img src="../../assets/Producto2.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
            <div class="producto1">
              <img src="../../assets/Producto3.png" alt="producto1">
              <h3 class="precio">$100</h3>
            </div>
      </div>
  </div>
  <h2 class="tituloProductoDelMes">Producto del Mes</h2>
  <div class="ProductodelMes">
    <img class="ProductoDelMes-Pic" src="../../assets/ProductoDelMes.png" alt="ProductodelMes">
    <div class="texto">
      <h3 class="texto1">$700</h3>
      <h3 class="texto2">$500</h3>
    </div>
  </div>
</body>